defaults:
  - override hydra/job_logging: colorlog
  - override hydra/hydra_logging: colorlog

data:
  companies: [NVDA, AAPL, MSFT, AMZN, GOOGL, META, TSLA, WMT, JPM, NFLX]
  year: 2025
  data_folder: ${hydra.runtime.cwd}/data/edgar_tools_filings
  id_name: Vipin Kumar
  id_email: vipinkumar1993@gmail.com
  sec_api_key: ${oc.env:SEC_API_KEY}
  amzn_10k_url: https://www.sec.gov/Archives/edgar/data/0001018724/000101872425000004/amzn-20241231.htm

vector_db:
  chunk_size: range(10, 50)
  chunk_overlap: 200
  embedding_model: sentence-transformers/all-MiniLM-L6-v2
  collection_name: sec_10k
  qdrant_path: ${hydra.runtime.cwd}/qdrant_db

model:
  # name: llama3.1
  # name: deepseek-r1:8b
  # name: gemma-3-27b-it
  _target_: utils.get_llm_provider
  name: mistral-large-latest
  temp: 1.0

agent_configs:
  supervisor_node: 
    system_prompt_template: |
      You are a financial analyst.
      Analyse the following user query and classify it: {user_query}.
      Provide a classification for the user query including query type (simple, comparison, or complex), and query companies which should indicate the companies that are involved in the query. If any company could be involved in the query, then don't list any company.
  planner_node:
    system_prompt_template: |
      You are a financial analyst.
      Analyse the following user query and generate sub-queries for it: {user_query}.
      Breakdown the provided user query into a list of simple sub-queries, which, when answered, would together answer the posed user query. Each simple sub-query should be related to exactly one company.
  retriever_node:
    num_closest_chunks: 10

hydra:
  verbose: true
